<h3>
  <%= form_tag shares_search_path(@portfolio.id) do %>
    <%= link_to "Your Portfolios", user_path %>
    |
    Add a stock: <input type="text" name="stock_code" placeholder="Symbol">
    <input type="submit" value="Search">
  <% end %>
</h3>

<h2> <%= "#{@portfolio.title} Information" %></h2>

<h3>Stocks Held</h3>
<ul>
<% @portfolio.stocks.each do |stock| %>
  <li>
  <%= link_to "#{stock.name}", stock_path(stock.id) %>
  </li>

<% end %>
</ul>
